@import url(./__date/news-card__date.css);
@import url(./__photo/news-card__photo.css);
@import url(./__source/news-card__source.css);
@import url(./__text/news-card__text.css);
@import url(./__title/news-card__title.css);
@import url(./__info/news-card__info.css);
@import url(./__photo-wrapper/news-card__photo-wrapper.css);

.news-card {
  width: 100%;
  max-width: 400px;
  background: #FFFFFF;
  border-radius: 16px;
  margin-bottom: 8px;
  height: 446px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .news-card {
    width: 32.5%;
    margin-bottom: 16px;
    border-radius: 20px;
    height: 420px;
  }
}

@media (min-width: 1440px) {
  .news-card {
    max-width: 400px;
    height: 576px;
  }
}

