@import url(./__count/request__count.css);
@import url(./__link/request__link.css);
@import url(./__title/request__title.css);
@import url(./__number/request__number.css);

.request {
  padding: 16px 5% 20px;
}

@media (min-width: 768px) {
  .request {
    padding: 32px 5.2% 36px;
  }
}

@media (min-width: 1440px) {
  .request {
    padding: 40px 7% 80px;
  }
}