.result-card__source {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 16px;
  bottom: 16px;

}

@media (min-width: 1440px) {
  .result-card__source {
    left: 24px;
    bottom: 24px;
  }
}