.header__title {
  font-family: Roboto Slab, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

.header__title:hover {
  opacity: .8;
}

.header__title:active {
  opacity: .6;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 20px;
    padding-bottom: 18px;
  }
}

@media (min-width: 1440px) {
  .header__title {
    padding-bottom: 26px;
  }
}
