.header__title {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 20px;
    padding-bottom: 18px;
  }
}

@media (min-width: 1440px) {
  .header__title {
    padding-bottom: 26px;
  }
}