@import url(./_active/header__link_active.css);
@import url(./_inactive/header__link_inactive.css);

.header__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 0 11px;
  text-decoration: none;
}

.header__link:hover {
  border-bottom: solid 3px;
  border-color: inherit;
  padding-bottom: 16px;
  color: inherit;
}

.header__link:active {
  opacity: 0.6;
}