.commits-card-list__link {
  display: none;
}

.commits-card-list__link:hover {
  opacity: 0.8;
}

.commits-card-list__link:active {
  opacity: 0.6;
}

.commits-card-list__link::after {
  content: url("../../../images/arrow.svg");
}

@media (min-width: 768px) {
  .commits-card-list__link {
    display: block;
    width: max-content;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-right: 15px;
    text-decoration: none;
    color: #1A1B22;  
}
}