@import url(./__date/result-card__date.css);
@import url(./__photo/result-card__photo.css);
@import url(./__source/result-card__source.css);
@import url(./__text/result-card__text.css);
@import url(./__title/result-card__title.css);
@import url(./__info/result-card__info.css);

.result-card {
  width: 100%;
  max-width: 400px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 8px;
  min-height: 446px;
  position: relative;
}

@media (min-width: 768px) {
  .result-card {
    width: 32.5%;
    margin-bottom: 0;
    border-radius: 20px;
    min-height: 420px;
  }
}

@media (min-width: 1440px) {
  .result-card {
    max-width: 400px;
    height: 576px;
  }
}
