@import url(./__date/result-card__date.css);
@import url(./__photo/result-card__photo.css);
@import url(./__source/result-card__source.css);
@import url(./__text/result-card__text.css);
@import url(./__title/result-card__title.css);
@import url(./__info/result-card__info.css);
@import url(./__photo-wrapper/result-card__photo-wrapper.css);

.result-card {
  width: 100%;
  max-width: 400px;
  background: #FFFFFF;
  border-radius: 16px;
  margin-bottom: 8px;
  height: 446px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .result-card {
    width: 32.5%;
    margin-bottom: 16px;
    border-radius: 20px;
    height: 420px;
  }
}

@media (min-width: 1440px) {
  .result-card {
    max-width: 400px;
    height: 576px;
  }
}

