.result-card__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 5px 0;
  padding: 0;
  }

  @media (min-width: 768px) {
    .result-card__text{
      margin-bottom: 12px;
    }
  }