@import url(../../vendor/normalize.css);
@import url(../../blocks/page/page.css);
@import url(../../blocks/header/header.css);

@font-face {
  src: url('../../fonts/roboto-regular-webfont.woff') format('woff');
      font-family: 'Roboto';
      font-weight: normal;
}

@font-face {
  src: url('../../fonts/robotoslab-regular-webfont.woff') format('woff');
      font-family: 'Roboto Slab';
      font-weight: normal;
}