@import url(./__copyright/footer__copyright.css);
@import url(./__link-container/footer__link-container.css);
@import url(./__link/footer__link.css);
@import url(./__social-container/footer__social-container.css);
@import url(./__social/footer__social.css);

.footer {
  padding: 0 16px 22px 16px;
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 100%;
}