.swiper-slide {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 16px;
  height: 264px;
  max-width: 288px;
  box-sizing: border-box;
}

.swiper-slide:first-child {
  margin-left: 5%;
}

@media (min-width: 768px) {
  .swiper-slide {
    max-width: 336px;
    padding: 24px;
    height: 242px;
  }
}

@media (min-width: 1440px) {
  .swiper-slide {
    max-width: 400px;
    height: 288px;
  }
}