.result__card-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .result__card-container {
    justify-content: space-between;
  }
}