.commits__link {
  display: none;
}

.commits__link::after {
  content: url("../../../images/arrow.svg");
}

@media (min-width: 768px) {
  .commits__link {
    display: block;
    width: max-content;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-right: 15px;

  }
}