@import url(./_pos/chart__numbers_pos_bottom.css);
@import url(./_pos/chart__numbers_pos_top.css);


.chart__numbers {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #b6bcbf;
  display: flex;
  justify-content: space-between;
  position: absolute;  
  display: none;
  left: 5%;
  right: 5%;
  margin-left: 117px;  
}

@media (min-width: 768px) {
  .chart__numbers {
    display: flex;
    justify-content: space-between;
    margin-left: 104px; 
  }
}

@media (min-width: 1440px) {
  .chart__numbers {
    left: 7%;
    right: 7%;
  }
}
