@import url(./_left/chart__head_left.css);
@import url(./_right/chart__head_right.css);

.chart__head {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  border-bottom: 1px solid #1A1B22;
  padding: 16px 0 8px;
}

@media (min-width: 768px) {
  .chart__head {
    padding: 48px 0 16px;
  }
}

@media (min-width: 1440px) {
  .chart__head {

  }
}