.commits-card__name {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  
}

@media (min-width: 1440px) {
  .commits-card__name {
    font-size: 26px;
    line-height: 30px;
    padding-top: 4px;
  }
}