.chart__title {
  font-family: Roboto Slab, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .chart__title {
    font-size: 26px;
    line-height: 30px;
  }
}