.result-card__photo {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-width: 100%;
  
}

@media (min-width: 768px) {
  .result-card__photo {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}