.chart__line_day {
  font-size: 18px;
  line-height: 48px;
  min-width: 80px;
}

@media (min-width: 768px) {
  .chart__line_day {
    line-height: 80px;
    min-width: 117px;
  }

}

@media (min-width: 1440px) {
  .chart__line_day {
    min-width: 104px;
  }
  
}