/*to change the specific class from the library*/
.swiper__container .swiper__pagination {
  align-self: center;
  position: absolute;
  width: max-content;
  bottom:-3px;
  transform: translate(-50%);
  z-index: 1;
  margin-left: 50%;
}

/*pagination dots*/
.swiper__pagination .swiper-pagination-bullet {
  background: #1A1B22;
}

@media (min-width: 768px) {
  .swiper__container .swiper__pagination {
    bottom: 2px;
  }
}

@media (min-width: 1440px) {
  .swiper__container .swiper__pagination {
    bottom: 0;

  }
}