.search__text {
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  border-radius: 100px;
  color: #1A1B22;
  padding: 16px;
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 22px;
}

.search__text:focus {
  outline: none;
  box-shadow: 0 0 0 1pt #2f71e5;
}

.search__text::placeholder {
  color: #B6BCBF;
}

@media (min-width: 768px) {
  .search__text {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .search__text {
    padding: 21px 40px 21px 24px;
  }
}