@import url(./__link/header__link.css);
@import url(./__title/header__title.css);
@import url(./__link-container/header__link-container.css);
@import url(./_theme/_light/header_theme_light.css);
@import url(./__link-item/header__link-item.css);

.header {
  display: flex;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px #D1D2D6;
  justify-content: space-between;
  padding: 16px 5% 0;
}

@media (min-width: 768px) {
  .header {
    padding-top: 3%;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 30px 7% 0;
  }
}