.author__title {
  font-family: Roboto Slab, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  padding: 0;
  margin: 24px 0 16px 0;
}

@media (min-width: 768px) {
  .author__title {
    margin: 0 0 9px 0;
  }
}

@media (min-width: 1440px) {
  .author__title {
    font-size: 40px;
    line-height: 46px;
    margin: 50px 0 24px 0;
  }
}