.footer__social {
  margin-left: 28px;
}

.footer__social:hover {
  opacity: 0.6;
}

.footer__social:active {
  opacity: 0.2;
}

@media (min-width: 768px) {
  .footer__social {
    margin-left: 24px;
  }
}